
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(left, #003366,#004080,#0059b3, #0073e6);
}

::selection {
    background: #1a75ff;
    color: #fff;
}

.sidebar {
    height: 100%;
    max-width: 80px;
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #8A2BE2;
}

    .sidebar a {
        color: white;
        width: fit-content;
        text-decoration: none;
        text-align: center;
        display: block;
    }

.sidebar-image {
    width: 100%;
    height: auto;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

    .profile-button:hover {
        background: #682773
    }

    .profile-button:focus {
        background: #682773;
        box-shadow: none
    }

    .profile-button:active {
        background: #682773;
        box-shadow: none
    }

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

