
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    place-items: center;
    background: -webkit-linear-gradient(left, #003366,#004080,#0059b3, #0073e6);
}

::selection {
    background: #1a75ff;
    color: #fff;
}

.sidebar {
    min-height: 100px;
    height: 100%;
    max-width: 80px;
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #8A2BE2;
}

    .sidebar a {
        color: white;
        width: fit-content;
        text-decoration: none;
        text-align: center;
        display: block;
    }

.sidebar-image {
    width: 100%;
    height: auto;
}

.searchbar {
    width: 50%; 
    position: absolute;
    top: 5%; 
    left: 25%; 
}

.searchbar-text {
    width: 100%;
    font-size: 16px;
    background-color:white;
    display: inline-block;
    border: 1px solid #ccc; 
}


.user-info {
    display: flex;
    color: white;
    border: 1px solid #ccc;
    align-items: center;
}
    .user-info img {
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
    }


