@page
@model ClientApp.Pages.IndexModel
@{
}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Spark</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-md bg-dark">
            <div class="container-xxl">
                <a href="#intro" class="navbar-brand">
                    <span class="fw-bold text-white">
                        Spark
                    </span>
                </a>
                <!-- toggle button-->
                <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!--navbar links-->
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="navbar-nav ms-auto align-items-end">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#contact">Contact</a>
                        </li>
                        @if (Model.IsSigned)
                        {
                            <li class="nav-item">
                            <a class="nav-link text-white" asp-page="/Home" asp-route-handler="OnGet" asp-route-guid=@Model.Guid>Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link text-white" asp-page="/User" asp-route-handler="OnGet" asp-route-guid=@Model.Guid>Profile</a>
                            </li>
                            <li class="nav-item">
                                 <a class="nav-link text-white" href="/About">Log out</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                    <a class="nav-link text-white" href="/SignIn">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

    <section class="container-">
        <div id="carouselExampleIndicators" class="carousel slide text-white" data-bs-ride="carousel">
            <div class="carousel-indicators d-none">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active bg-primary">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <blockquote class="blockquote text-center">
                            <p class="mb-2">Believe you can and you're halfway there.</p>
                            <footer class="blockquote-footer text-white">Theodore Roosevelt</footer>
                        </blockquote>
                    </div>
                </div>
                <div class="carousel-item bg-primary">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <blockquote class="blockquote text-center">
                            <p class="mb-2">The secret of getting ahead is getting started.</p>
                            <footer class="blockquote-footer text-white">Mark Twain</footer>
                        </blockquote>
                    </div>
                </div>
                <div class="carousel-item bg-primary">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <blockquote class="blockquote text-center">
                            <p class="mb-2">Winning isn’t everything,but wanting to win is.</p>
                            <footer class="blockquote-footer text-white">Vince Lombardi</footer>
                        </blockquote>
                        </div>
                </div>
           </div>
        </div>
    </section>

    <section id="features" class="container-fluid py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7 order-lg-2">
                    <img class="border border-light img-fluid" src="~/images/connection.jpg" alt="Features Image">
                </div>
                <div class="col-12 col-lg-5 order-lg-1">
                    <h1 class="display-6"><b>Features</b></h1>
                    <p>
                        Explore the rich features of Spark that make it the ultimate social networking platform.
                        Whether it's connecting with friends, sharing captivating posts, or engaging in vibrant discussions,
                        Spark offers a seamless and enriching user experience.
                    </p>
                    <p>
                        Customize your profile, join diverse communities, and stay updated on the latest trends.
                        Spark empowers you to express yourself and unlock a world of endless connections and shared moments.
                        Join Spark today and elevate your social experience!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="container-fluid py-5">
        <div class="container">

            <div class="row">
                <div class="col-12 col-lg-5 ">
                    <img class="border border-light img-fluid" class="img-fluid" src="~/images/about.png" alt="Company Image">
                </div>
                <div class="col-12 col-lg-7">
                    <h1 class="display-6"><b>About Us</b></h1>
                    <p>
                        Spark is a dynamic social networking platform that ignites connections and fosters meaningful
                        relationships among its diverse user community.
                        Spark provides an interactive space for individuals to express themselves through personalized profiles, share life moments, and engage in vibrant discussions.
                        </p>
                    <p>
                        From connecting with friends and family to discovering like-minded individuals, Spark is a hub of shared experiences, making social networking a compelling and enriching journey for all. Join Spark today and let your social connections blaze with vitality.
                    </p>
                </div>
            </div>

        </div>
    </section>

    <section id="contact" class="container-fluid py-5">
        <div class="container">

            <div class="row">
                
                <div class="col-12 col-lg-7">
                    <h1 class="display-6"><b>Contact</b></h1>
                    <p>
                        Feel free to contact us at the email, phone number, or visit our location. We look forward to hearing from you!
                    </p>
                    <p>
                        <strong>Email:</strong> spark@mail.com <br/>
                        <strong>Phone:</strong> +421 123-456-789<br/>
                        <strong>Location:</strong> Veľká  Okružná 185, Žilina Slovakia
                    </p>
                </div>
                <div class="col-12 col-lg-5 ">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5364.754207842297!2d18.74302650991666!3d49.219240599408344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47145ea9333b3b37%3A0xa448e785a81d7c4f!2zVmXEvmvDoSBPa3J1xb5uw6EgMTg1LCAwMTAgMDEgxb1pbGluYQ!5e0!3m2!1ssk!2ssk!4v1705608735821!5m2!1ssk!2ssk" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

        </div>
    </section>

    <footer class="bg-dark text-white py-4">
        <div class="container text-center">
            <p>&copy; 2023 Spark. All rights reserved.</p>
        </div>
    </footer>
        
    </body>
</html>








